body {
    font-family: Montserrat, sans-serif;
}


.bg-image-top {
    background-image: url(..//img/xxxmin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-gray {
    background-color: #181818;
}